@use 'sass:math';

$freyja-asset-path: '../static/assets';
$master-head-height-lg: 112px;
$master-head-height-md: 87px;
$global-menu-height: 27px;

@import '@mojang/web-theme-bootstrap/scss/styles';

$padding: 48px;

body {
  background-image: url(../static/assets/img/bg-grass.png);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

div.form {
  width: 600px;
  max-width: calc(100vw - $padding * 2);
  background-color: white;
  overflow: auto;
  padding: $padding;

  .submit {
    display: flex;
    justify-content: right;
    margin-top: $padding * 0.75;
  }

  .output {
    height: 120px;
    background-color: #ccc;
    margin-top: $padding;
    margin-left: $padding * -1;
    margin-right: $padding * -1;
    margin-bottom: $padding * -1;
    padding: math.div($padding, 2) $padding;
    display: flex;
    align-items: center;

    #spinner {
      margin-right: $padding * 0.5;
    }

    .error-text {
      color: $danger;
      font-weight: bold;
    }
  }

  .servername {
    cursor: pointer;
    padding-left: 6px;
    padding-right: 6px;

    &:hover {
      background-color: #ccc;
    }
  }
}
